.header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__imagen {
    width: 100px;
    height: 100px;
    background-image: url("../../public/logo_rdp.png");
    background-size: cover;
}

.header__titulo {
    margin-left: 20px;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase;
}