.libros{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.libros__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.libros__text {
    margin-top: 30px;
    font-size: 22pt;
    text-transform: uppercase;
}

.libros__input {
    width: 250px;
    height: 20px;
    font-size: 14pt;
    margin-top: 50px;
    margin-left: 500px;
}

.libros__libro {
    width: 200px;
    height: 160px;
    margin: 0 auto;
    border: 2px solid #000;
    padding: 30px 5px;
    font-size: 12pt;
    background-color: #815f44;
    color: #fff;
}

.libros__libro:hover {
    background-color: rgb(103, 77, 53);
}


.libros__libro span {
    font-weight: bold;
}

.libro {
    display: block;
    margin: 50px auto;
    padding: 20px 50px;
    background-color: black;
    color: #ffffff;
    width: 280px;
    height: 280px;
    font-size: 14pt;
}

.libro__boton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #815f44;
    color: #fff;
    border: none;
    cursor: pointer;
}

.libro__boton:hover {
    background-color: rgb(103, 77, 53);
}